<!DOCTYPE html>
<html>
	<head>
		<script type=text/javascript src="{{
  url_for('static', filename='jquery.js') }}"></script>
		<script type=text/javascript>
			$(function() {
    $('#caluculate').bind('click', function() {
      $.getJSON('/_add_numbers', {
        a: $('input[name="a"]').val(),
        b: $('input[name="b"]').val()
      }, function(data) {
        $("#result").text(data.result);
      });
      return false;
    });
  });
		</script>
	</head>
 {% set n=3 %} 
	<h1>jQuery Example</h1>
{% for i in range(n) %}	
<p><input type=text size=5 name=a> +
   <input type=text size=5 name=b> =
   <span id="#result">?</span>
<p><a href=# id=caluculate class="exp">calculate server side</a>
{% endfor %}
</html>






